/* font */
body {
  font-family: 'DM Sans Regular';
  font-weight: 400;
  font-size: 12px;
}
.heading1 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 24px;
}
.heading2 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 20px;
}
.heading3 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 18px;
}
.heading4 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 16px;
}
.heading5 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 14px;
}
.heading6 {
  font-family: 'DM Sans Medium';
  font-weight: 500;
  font-size: 12px;
}
.btn,
.a-btn {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 14px;
}

/* common */
a {
  color: #000;
  text-decoration: none;
}
.hidden {
  display: none;
}
li > a {
  display: block;
}
img {
  display: block;
  object-fit: cover;
}

/* margin */
.margin--side {
  margin: 0 24px;
}
.margin--left {
  margin-left: 24px;
}

/* padding */
.bottom-padding--large {
  padding-bottom: 112px;
}
.top-padding--medium {
  padding-top: 44px;
}
.top-padding--small {
  padding-top: 40px;
}

/* color */
.color--red {
  color: #ec1a2e;
}

/* eliipsis */
.eliipsis--single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis--multi {
  display: -webkit-box;
  overflow: hidden;
  max-height: 2.8em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* btn */
.btn {
  height: 40px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 4px;
  color: #ffffff;
}
.a-btn {
  line-height: 40px;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
}
.btn--large {
  width: 327px;
}
.btn--small {
  width: 155.5px;
}
.btn--black {
  background-color: #6d6d6d;
}
.btn--red {
  background-color: #ec1a2e;
}

/* html */
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 375px;
  margin: auto;
  padding-top: 80px;
  background-color: #ffffff;
}
main {
  flex: 1;
  padding-bottom: 92px;
}

/* header */
header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 375px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
}

/* nav */
nav {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  width: 375px;
  height: 92px;
  background-color: #ffffff;
  box-shadow: 0px -5px 25px -15px rgba(85, 85, 85, 0.25);
}
.nav__list {
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
}

/* detail bar */
.detail-bar {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  width: 375px;
  height: 112px;
  background-color: #ffffff;
  box-shadow: 0px -5px 25px -15px rgba(85, 85, 85, 0.25);
}
.detail-bar-wrapper,
.detail-bar__button-wrapper {
  display: flex;
  justify-content: space-between;
}
.detail-bar__title {
  font-size: 14px;
}
.detail-bar-wrapper {
  margin-top: 12px;
}
.detail-bar__button-wrapper {
  margin-top: 10px;
}

/* modal */
.modal {
  position: fixed;
  z-index: 101;
  top: 0;
  width: 375px;
  height: 100vh;
  background: rgba(65, 64, 64, 0.5);
}
.modal__content--bottom {
  position: fixed;
  z-index: 102;
  bottom: 0;
  width: 327px;
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
}

/* slider */
.event-slider {
  display: flex;
  overflow: hidden;
}
.event-slider li {
  margin-right: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.event-slider li img {
  width: 144px;
  height: 120px;
  border-radius: 4px 4px 0px 0px;
}
.event-slider li section {
  position: relative;
  height: 120px;
  padding: 12px 8px;
}
.event-slider__title {
  margin-top: 8px;
}
.event-slider__artist {
  position: absolute;
  bottom: 11px;
}
