/* font */
body,
input,
textarea,
button {
  font-family: 'DM Sans Regular';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.heading1 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 24px;
}
.heading2 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 20px;
}
.heading3 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 18px;
}
.heading4 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 16px;
}
.heading5 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 14px;
}
.heading6 {
  font-family: 'DM Sans Medium';
  font-weight: 500;
  font-size: 12px;
}
.btn,
.a-btn {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 14px;
}
.index .nav__index p,
.search .nav__search p,
.my-profile .nav__user p,
.more .nav__more p {
  color: #ec1a2e;
  font-family: 'DM Sans Bold';
  font-weight: 700;
}

/* icons */
.sprite {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  border: none;
  background: url(../images/sprite.png) no-repeat;
  background-size: 270px 270px;
  text-indent: 101%;
  white-space: nowrap;
}
.event-detail input[type='radio'] + label::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-top: 1 px;
  margin-right: 14px;
  background: url(../images/sprite.png) no-repeat;
  background-size: 270px 270px;
  background-position-y: -150px;
}
.event-detail input[type='radio']:checked + label::before {
  background-position-x: -50px;
}
.sprite.logo-icon {
  display: block;
  width: 81px;
  height: 23px;
}
.sprite.notice-icon {
  width: 25px;
  height: 25px;
  background-position-x: -100px;
}
.sprite.home-icon {
  width: 24px;
  height: 24px;
  background-position-y: -50px;
}
.sprite.search-icon {
  width: 24px;
  height: 24px;
  background-position: -50px -50px;
}
.sprite.user-icon {
  width: 24px;
  height: 24px;
  background-position: -100px -50px;
}
.sprite.more-icon {
  width: 24px;
  height: 24px;
  background-position: -150px -50px;
}
.index .sprite.home-icon,
.search .sprite.search-icon,
.my-profile .sprite.user-icon,
.more .sprite.more-icon {
  background-position-y: -100px;
}
.sprite.back-btn,
.sprite.modal__back-btn {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-position: -250px -50px;
}
.sprite.down-arrow {
  width: 16px;
  height: 16px;
  background-position: -200px -100px;
}
.sprite.search-btn {
  width: 16px;
  height: 16px;
  background-position: -200px -50px;
}
.sprite.like-btn {
  width: 20px;
  height: 20px;
  background-position-x: -200px;
}
.sprite.like2-btn {
  width: 20px;
  height: 20px;
  background-position-x: -250px;
}
.sprite.left-arrow {
  width: 20px;
  height: 20px;
  background-position: -250px -100px;
}
.sprite.right-arrow {
  width: 20px;
  height: 20px;
  background-position: -250px -150px;
}
.sprite.event-icon {
  width: 24px;
  height: 24px;
  background-position: -100px -150px;
}
.sprite.duckmate-icon {
  width: 24px;
  height: 24px;
  background-position: -150px -150px;
}
.sprite.place-icon {
  width: 24px;
  height: 24px;
  background-position: -200px -150px;
}
.sprite.make-event-icon {
  width: 24px;
  height: 24px;
  background-position-y: -200px;
}
.sprite.setting-icon {
  width: 25px;
  height: 25px;
  background-position: -50px -200px;
}
.sprite.right-arrow2 {
  width: 16px;
  height: 16px;
  background-position: -200px -200px;
}
.sprite.down-arrow2 {
  width: 16px;
  height: 16px;
  background-position: -250px -200px;
}
.sprite.photo-icon {
  width: 20px;
  height: 20px;
  background-position-y: -250px;
}
.sprite.x-icon {
  width: 20px;
  height: 20px;
  background-position: -50px -250px;
}
.sprite.x-icon2 {
  width: 20px;
  height: 20px;
  background-position: -100px -250px;
}

/* common */
a {
  color: #000;
  text-decoration: none;
}
button,
input[type='button'],
input[type='file'] {
  cursor: pointer;
}
.hidden,
.sprite span,
input[type='radio'] {
  display: none !important;
}
.block-scroll {
  overflow: hidden !important;
  position: fixed;
  left: 0;
  right: 0;
}
li > a {
  display: block;
}
img {
  display: block;
  object-fit: cover;
}

/* margin */
.margin--side {
  margin: 0 24px;
}
.margin--left {
  margin-left: 24px;
}

/* padding */
.bottom-padding--large {
  padding-bottom: 112px !important;
}
.bottom-padding--none {
  padding-bottom: 0;
}
.top-padding--medium {
  padding-top: 44px !important;
}
.top-padding--small {
  padding-top: 40px !important;
}

/* color */
.color--red {
  color: #ec1a2e;
}

/* eliipsis */
.eliipsis--single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis--multi {
  display: -webkit-box;
  overflow: hidden;
  max-height: 2.8em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* btn style*/
.btn {
  height: 40px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 4px;
  color: #ffffff;
}
.btn2 {
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
}
.a-btn {
  display: inline-block;
  line-height: 40px;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
}
.btn--large {
  width: 327px;
}
.btn--small {
  width: 155.5px;
}
.btn--black {
  background-color: #6d6d6d;
}
.btn--red {
  background-color: #ec1a2e;
}
.btn--block {
  pointer-events: none;
}

/* input style */
input {
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
.input--bottom-line {
  border-bottom: 2px solid #696969;
  outline: 0;
}
.input--box {
  min-height: 50px;
  padding: 16px 30px;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  background: none;
  color: #bbbbbb;
}
input[type='text']:read-only,
input[type='tel']:read-only,
input[type='email']:read-only {
  outline: 0;
  cursor: default;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

/* html */
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 375px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 92px;
  background-color: #ffffff;
}
main {
  flex: 1;
}

/* header */
header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 375px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
}
.header-wrapper div {
  display: flex;
}

/* nav */
nav {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  width: 375px;
  height: 92px;
  background-color: #ffffff;
  box-shadow: 0px -5px 25px -15px rgba(85, 85, 85, 0.25);
}
.nav__list {
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
}
.nav__list li {
  text-align: center;
  width: 64px;
}
.nav__list li p {
  margin-top: 8px;
  color: #bbbbbb;
}

/* slider */
.event-slider {
  display: flex;
  overflow: hidden;
}
.event-slider li {
  margin-right: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.event-slider li img {
  width: 144px;
  height: 120px;
  border-radius: 4px 4px 0px 0px;
}
.event-slider li section {
  position: relative;
  height: 120px;
  padding: 12px 8px;
}
.event-slider__title {
  margin-top: 8px;
}
.event-slider__artist {
  position: absolute;
  bottom: 11px;
}

/* detail bar */
.detail-bar {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  width: 375px;
  height: 112px;
  background-color: #ffffff;
  box-shadow: 0px -5px 25px -15px rgba(85, 85, 85, 0.25);
}
.detail-bar div,
.detail-bar__button-wrapper {
  display: flex;
  justify-content: space-between;
}
.detail-bar div {
  margin-top: 12px;
}
.detail-bar__title {
  font-size: 14px;
}
.detail-bar__button-wrapper {
  margin-top: 10px;
}

/* modal */
.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 101;
  width: 375px;
  height: 100vh;
  background: rgba(65, 64, 64, 0.5);
}
.modal--top {
  top: 0;
}
.modal--bottom {
  bottom: 0;
}
.modal__background {
  flex: 1;
  cursor: pointer;
}
.modal__option {
  z-index: 102;
  width: 327px;
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
}
.image-modal {
  background: #000000 !important;
}
.modal__header {
  height: 82px;
}
.modal__header div {
  display: flex;
  margin-top: 49px;
  color: #ffffff;
}
.modal__image {
  display: flex;
  flex: 1;
  padding-bottom: 82px;
  overflow-y: auto;
  -ms-overflow-style: none;
}
.modal__image::-webkit-scrollbar {
  display: none;
}
.modal__image > div {
  display: table;
  flex: 1;
}
.modal__image > div > div {
  display: table-cell;
  vertical-align: middle;
}
.modal__image img {
  width: 375px;
}

/* drop down */
.drop-down {
  position: relative;
}
button.drop-down__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 40px;
  padding: 0px 8px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 4px;
  background: none;
}
.drop-down__menu {
  position: absolute;
  min-width: 299px;
  padding: 18px 14px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 16px 30px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.drop-down__menu li {
  line-height: 32px;
  border-bottom: 2px solid #e5e5e5;
}

/* tag box */
.event--ing::after {
  content: '모집 진행중';
  border-color: #16c79a;
  color: #16c79a;
}
.event--end::after {
  content: '모집 종료';
  border-color: #555555;
  color: #555555;
}
.event--cancel::after {
  content: '행사 취소';
  border-color: #ef4f4f;
  color: #ef4f4f;
}
.event--wait::after {
  content: '승인대기중';
  border-color: #ffc107;
  color: #ffc107;
}
.place--complete::after {
  content: '예약 완료';
  border-color: #16c79a;
  color: #16c79a;
}
.place--decline::after {
  content: '예약 불가';
  border-color: #555555;
  color: #555555;
}
.place--cancel::after {
  content: '신청 취소';
  border-color: #ef4f4f;
  color: #ef4f4f;
}
.place--wait::after {
  content: '승인대기중';
  border-color: #ffc107;
  color: #ffc107;
}
