@import url(reset.css);
@import url(webfonts.css);
@import url(common.css);

/* index */
.index__list-title {
  display: flex;
  justify-content: space-between;
}
.index__list-title a {
  color: var(--color-red);
}
.banner {
  margin-top: 32px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.banner__slider {
  display: flex;
  overflow: hidden;
}
.banner__slider li {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 74.93%;
}
.banner__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.recommend-artist {
  margin-top: 38px;
}
.recommend-artist__list {
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}
.recommend-artist__list h3 {
  font-weight: 500;
}
.recommend-artist__list li {
  margin-right: 32px;
  text-align: center;
}
.recommend-artist__img-wrapper {
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  border-radius: 50%;
}
.popular-event {
  margin-top: 20px;
}
.popular-event__list {
  margin-top: 16px;
}
.promotion-event {
  margin-top: 40px;
}
.promotion-event__img-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0;
  margin-top: 16px;
  padding-bottom: 36.7%;
  border-radius: 8px;
}
.promotion-event__img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}
.new-event {
  margin-top: 40px;
}
.new-event__list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.new-event__list li {
  margin-bottom: 16px;
}
.new-event-container a {
  display: flex;
}
.new-event-container__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 36.7%;
  height: 0;
  padding-bottom: 29.36%;
}
.new-event-container img {
  position: absolute;
  top: 0;
  left: 0;
}
.new-event-container__body {
  position: relative;
  width: 63.3%;
  padding: 12px 15px;
}
.new-event-container__body > div {
  position: absolute;
  top: 12px;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
}
.new-event-container__writer {
  color: var(--color-light-gray);
}
.new-event-container__d-day {
  color: var(--color-red);
}
.new-event-container__title {
  margin-top: max(20px, calc(21.21% - 1.4em));
}

/* search */
.header__search {
  display: flex;
  flex: 1;
  padding: 3px 0px 5px 16px;
  border-bottom: 1px solid var(--color-soft-black);
}
.header__search input {
  flex: 1;
}
.search-recent {
  margin-top: 32px;
}
.search-recent__list {
  margin-top: 16px;
}
.search-recent__list li {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-border);
}
.search-visit {
  margin-top: 32px;
}
.search-visit__list {
  margin-top: 14px;
}

/* list */
.list-option-wrapper {
  position: fixed;
  z-index: 99;
  top: 80px;
  left: 0;
  right: 0;
  padding: 32px 24px 16px 24px;
  background-color: #ffffff;
}
.list-option {
  display: flex;
  justify-content: space-between;
}
.list-option > li {
  width: calc((100% - 16px) / 3);
}
.content-list-wrapper {
  margin-top: 80px;
}
.content-list {
  display: flex;
  flex-wrap: wrap;
}
.content-list li {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.content-list li:nth-child(odd) {
  padding-left: 0;
}
.content-list li:nth-child(even) {
  padding-right: 0;
}

/* more */
.more section h2 {
  color: var(--color-soft-black);
}
.more section ul {
  margin-top: 30px;
  border-bottom: 1px solid var(--color-hr);
}
.more section ul li {
  margin-bottom: 30px;
}
.more a {
  display: flex;
  align-items: center;
}
.more h3 {
  margin-left: 25px;
  color: var(--color-dark-black);
  font-size: 1.6rem;
  font-weight: 500;
}
.normal-service {
  margin-top: 40px;
}
.host-service {
  margin-top: 30px;
}
.setting {
  display: block;
  margin-top: 30px;
}

/* create event */
.multi-step-form {
  position: relative;
  overflow: hidden;
}
.multi-step {
  display: flex;
}
.multi-step__tab {
  width: 100%;
  min-height: calc(100vh - 80px - 118.8px);
}
.multi-step__tab > div {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}
.multi-step__tab > div > label:not(:first-child),
.multi-step__tab > div > fieldset:not(:first-child) {
  margin-top: 45px;
}
.multi-step__tab > div > input,
.multi-step__tab textarea,
.multi-step__tab section,
.multi-step__tab > div > button {
  margin-top: 20px;
}
.multi-step__tab input[type='text']:not(.input--box) {
  margin-top: 15px;
}
.create-event__type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.create-event__type-list > li {
  width: calc((100% - 32px) / 3);
}
.create-event__type-list label {
  display: block;
  height: 32px;
  color: var(--color-placeholder);
  border: 1px solid var(--color-placeholder);
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
}
.create-event__type-wrapper input[type='radio']:checked + label {
  color: var(--color-red);
  border-color: var(--color-red);
}
.create-event .tag__list {
  display: flex;
  flex-wrap: wrap;
}
.create-event .tag__list button {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 15px;
  margin-right: 8px;
  padding: 0 12px;
  border-radius: 24px;
  background: var(--color-light-blank);
}
.create-event .tag__list li .sprite {
  margin-left: 8px;
}
.create-event .main-image__list {
  display: flex;
  margin-top: 20px;
}
.create-event .main-image__list li {
  position: relative;
  width: 164px;
  height: 123px;
  margin-right: 8px;
  background: url(../images/image_default.png) no-repeat;
  background-size: 164px 123px;
}
.create-event .main-image__list button {
  position: absolute;
  z-index: 98;
  top: 0;
  right: 0;
}
.create-event .desc-image__btn-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.create-event .desc-image__btn-wrapper label {
  display: inline-block;
  margin-right: 15px;
  padding: 0 17px;
  color: var(--color-white);
  border-radius: 20px;
  background: var(--color-soft-black);
  line-height: 34px;
}
.create-event .desc-image__btn-wrapper button {
  margin-right: 15px;
  color: var(--color-white);
  border: none;
  border-radius: 20px;
}
.create-event .desc-image__btn-wrapper button:first-of-type {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0 10px;
  background: var(--color-light-gray);
}
.create-event .desc-image__btn-wrapper button span {
  max-width: 107.5px;
}
.create-event .desc-image__btn-wrapper button .sprite {
  margin-left: 8px;
}
.create-event .desc-image__btn-wrapper button:last-of-type {
  padding: 0 17px;
  background: var(--color-red);
  line-height: 34px;
}
.multi-step__tab .option__content:not(:first-of-type) {
  margin-top: 65px;
}
.multi-step-form__btn {
  margin-top: 21px;
  margin-bottom: 23px;
  text-align: center;
}
.multi-step-form__btn .btn-wrapper {
  margin-top: 18px;
}
.multi-step-form__btn .btn-wrapper > div:nth-child(2) {
  padding-right: 0;
}

/* event detail*/
.event-detail .event__main-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 74.67%;
}
.event-detail .event__main-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}
.event-detail .event__head {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.event-detail .event__head div {
  display: inline-block;
  margin: 0 auto;
}
.event-detail .head__writer {
  color: var(--color-red);
  font-weight: 700;
}
.event-detail .head__title {
  margin-top: 10px;
}
.event-detail .event__head div:last-child {
  margin-top: 24px;
}
.event-detail .event__head section {
  display: flex;
  max-width: 295px;
}
.event-detail .event__head section span:first-child {
  margin-right: 0.3em;
  white-space: nowrap;
}
.event-detail .event__head section span:last-child {
  flex: 1;
}
.event-detail .head__date {
  margin-top: 10px;
}
.event-detail .event__progress {
  margin-top: 25px;
}
.event-detail .event__progress div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.event-detail .progress__num {
  margin-top: 16px;
}
.event-detail .progress__day {
  color: var(--color-red);
}
.event-detail .progress__bar {
  height: 3px;
  margin-top: 16px;
  border-radius: 2px;
  background-color: var(--color-red);
}
.event-detail .event__explain {
  margin-top: 25px;
}
.event-detail .event__explain ol {
  list-style: decimal outside;
  margin-top: 16px;
  padding: 12px 0;
  border-width: 1px 0;
  border-style: solid none;
  border-color: var(--color-hr);
}
.event-detail .event__explain ol li {
  margin-left: 1em;
}
.event-detail .event__content {
  margin-top: 12px;
}
.event-detail .event__content p {
  font-weight: 500;
  text-align: center;
}
.event-detail .event__content__img-wrapper {
  width: 100%;
  margin-top: 16px;
}

/* event attend */
.attend-info {
  padding: 32px 24px 0 24px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.attend-info > div {
  margin-top: 16px;
  padding: 12px 8px;
}
.attend-info__event {
  display: flex;
}
.attend-info__event .event__main-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 18%;
  height: 0;
  margin-right: 12px;
  padding-bottom: 18%;
  border-radius: 4px;
}
.attend-info__event .event__main-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}
.attend-info__event .event__period {
  margin-top: 4px;
  color: var(--color-soft-black);
}
.attend-info__option {
  margin-top: 12px;
  padding: 8px;
  border-radius: 4px;
  background: #f8f8f8;
}
.attend-info__option h4 {
  color: var(--color-dark-black);
  font-weight: 700;
}
.attend-info__option p {
  margin-top: 4px;
}
.attend-info__change-option {
  margin-top: 12px;
}
.attend-info__change-option button,
.attend-pay-info__select h4 {
  font-weight: 700;
}
.attend-info__cost {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.attend-info__cost span,
.attend-total-info span {
  font-weight: 700;
}
.attend-pay-info,
.attend-total-info {
  margin-top: 40px;
}
.attend-pay-info__select {
  margin-top: 16px;
}
.attend-pay-info__select {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 12px 16px;
  color: var(--color-dark-black);
  border: 0.5px solid var(--color-black);
  border-radius: 4px;
}
.attend-total-info section {
  display: flex;
  justify-content: space-between;
}
.attend-total-info section:first-of-type {
  margin-top: 24px;
}
.attend-total-info section:last-of-type {
  margin-top: 20px;
  margin-bottom: 50px;
}

/* place detail */
.place-detail .place__main-img-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 74.67%;
  overflow: hidden;
}
.place-detail .place__main-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}
.place-detail .place__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.place-detail .head__place,
.place-detail .head__tag {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 500;
}
.place-detail .head__tag {
  display: flex;
  color: var(--color-red);
}
.place-detail .place__explain {
  margin-top: 35px;
}
.place-detail .place__explain ol {
  margin-top: 16px;
  padding: 12px 0;
  border-width: 1px 0;
  border-style: solid none;
  border-color: var(--color-hr);
  list-style: decimal outside;
}
.place-detail .place__explain ol li {
  margin-left: 1em;
}
.place-detail .place__location {
  margin-top: 35px;
  margin-bottom: 43px;
}
.place-detail .place__location__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 64.22%;
  margin-top: 13px;
}
.place-detail .place__location__img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}

/* place book */
.place-book form {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
.place-book input[type='text'],
.place-book input[type='tel'] {
  margin-top: 24px;
}
.place-book label[for='tel'] {
  margin-top: 40px;
}
.place-book label[for='text'] {
  margin-top: 38px;
}
.place-book textarea {
  margin-top: 27px;
}
.place-book input[type='button'] {
  margin-top: 45px;
  margin-bottom: 23px;
}

/* my profile */
.profile-info {
  position: relative;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.profile-info-container {
  display: flex;
  margin-top: 32px;
  padding: 16px;
}
.profile-info__img-wrapper {
  overflow: hidden;
  width: 64px;
  height: 64px;
  margin-right: 24px;
  border-radius: 50%;
}
.profile-info__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.profile-info__body p {
  color: var(--color-soft-black);
}
.profile-info__edit {
  position: absolute;
  right: 32px;
  bottom: 4.4px;
  width: 40px;
  height: 40px;
  color: var(--color-red);
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.member-level {
  margin-top: 40px;
}
.member-level-container {
  display: flex;
  align-items: center;
  height: 106px;
  margin-top: 12px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}
.member-level-container > div {
  width: 50%;
  text-align: center;
}
.member-level__img-wrapper {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
}
.member-level-container > div p {
  margin-top: 8px;
  color: var(--color-dark-black);
  font-weight: 700;
}
.member-level-container h3 {
  margin-left: 35px;
}
.activity-history {
  margin-top: 20px;
}
.activity-history li {
  margin-bottom: 27px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-hr);
}
.activity-history li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-history li div h2 {
  color: var(--color-dark-black);
  font-weight: 700;
}

.activity-history li div p {
  margin-top: 4px;
  font-size: 1rem;
}

/* personal data */
.personal-img {
  width: 88px;
  height: 88px;
  margin: 32px auto 0;
}
.personal-img-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.personal-img label {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.personal-input-wrapper {
  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-white);
}
.personal-form {
  display: flex;
  flex-direction: column;
}
.personal-form label {
  margin-top: 24px;
}
.personal-form input {
  margin-top: 12px;
}
.personal-form input:read-only {
  background: var(--color-blank);
}

/* activity list */
.activity__list li {
  position: relative;
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.activity__list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-hr);
}
.activity__list li::after {
  display: inline-block;
  margin-top: 16px;
  padding: 4px 12px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1rem;
}
.activity__list li a > div {
  display: flex;
}
.activity__img-wrapper {
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 4px;
}
.activity__list li a h2 {
  color: var(--color-dark-black);
  font-weight: 700;
}
.activity__list li a p {
  margin-top: 4px;
  font-size: 1rem;
}
.activity__list .sprite--like {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

/* attend history */
.attend-event {
  display: flex;
  margin-top: 32px;
}
.attend-event__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 20%;
  height: 0;
  margin-right: 16px;
  padding-bottom: 20%;
  border-radius: 4px;
}
.attend-event__img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}
.attend-event__period {
  margin-top: 8px;
}
.attend-detail {
  margin-top: 32px;
}
.attend-detail__title {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-hr);
}
.attend-detail__place {
  margin-top: 16px;
}
.attend-detail div {
  display: flex;
  margin-top: 8px;
}
.attend-detail div span {
  margin: 0 8px;
}
.attend-detail__address {
  margin-top: 8px;
  font-size: 1rem;
}
.attend-detail__option {
  margin-top: 16px;
  padding: 8px;
  border-radius: 4px;
  background: var(--color-blank);
}
.attend-detail__option h4 {
  color: var(--color-dark-black);
  font-weight: 700;
}
.attend-detail__option p {
  margin-top: 4px;
}
.attend-pay {
  margin-top: 32px;
}
.attend-pay div {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.attend-pay div:first-of-type {
  margin-top: 20px;
}
.attend-pay h4 {
  color: var(--color-dark-black);
  font-weight: 700;
}
.attend-pay span {
  color: var(--color-soft-black);
  font-weight: 700;
}
.attend-history .btn-wrapper {
  margin-top: 32px;
}
.attend-history .a-btn {
  color: #16c79a;
  border: 1px solid #16c79a;
}

/* book history detail*/
.book-place {
  display: flex;
  margin-top: 32px;
}
.book-place__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  margin-right: 16px;
  border-radius: 4px;
}
.book-place__img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}
.book-place__period {
  margin-top: 8px;
}
.book-detail {
  margin-top: 32px;
}
.book-detail__title {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-hr);
}
.book-detail__time {
  margin-top: 16px;
}
.book-detail__address {
  margin-top: 8px;
  font-size: 1rem;
}
.book-detail__content {
  margin-top: 16px;
  padding: 8px;
  border-radius: 4px;
  background: var(--color-blank);
}
.book-detail__content h4 {
  color: var(--color-dark-black);
  font-weight: 700;
}
.book-detail__content p:first-of-type {
  margin-top: 4px;
}
.book-place-explain {
  margin-top: 32px;
}
.book-place-explain ol {
  list-style: decimal outside;
  margin-top: 20px;
  padding: 12px 0;
  border-width: 1px 0;
  border-style: solid none;
  border-color: var(--color-hr);
}
.book-place-explain ol li {
  color: var(--color-soft-black);
  margin-left: 1em;
}
.book-date {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}
.book-date h4 {
  color: var(--color-dark-black);
  font-weight: 700;
}
.book-date span {
  color: var(--color-soft-black);
  font-weight: 700;
}
.book-history .btn-wrapper {
  margin-top: 32px;
}
.book-history .a-btn {
  color: #ec1a2e;
  border: 1px solid #ec1a2e;
}

/* notic */
.notice-list {
  margin-top: 32px;
}
.notice-list li {
  position: relative;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.notice-list .new-notice::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 0px;
  display: inline-block;
  width: 4px;
  height: 20px;
  background-color: #ec1a2e;
}
.notice-list li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notice-list li span {
  color: var(--color-soft-black);
  font-size: 1rem;
}
.notice-list li p {
  margin-top: 12px;
  color: var(--color-soft-black);
}

/* complete */
.complete {
  display: flex;
  flex-direction: column;
}
.complete__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
}
.complete__title .title__sub {
  margin-top: 13px;
}
.complete__btn {
  margin-bottom: 26px;
}

/* 404 */
.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-404__img-wrapper {
  width: 316px;
  height: 287px;
  margin: 0 auto;
}
.error-404__title {
  margin-top: 33px;
  text-align: center;
}
.error-404__title .title__main {
  margin-top: 4px;
  color: var(--color-soft-black);
}
.error-404__title .title__sub {
  color: var(--color-light-gray);
  font-size: 14px;
}
.error-404__btn {
  margin-top: 34px;
}
