@import url(reset.css);
@import url(common.css);

/* index */
.index__header-wrapper {
  margin-top: 40px;
}
.index__banner {
  margin-top: 32px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.index__banner__slider {
  display: flex;
  overflow: hidden;
}
.index__banner__slider li img {
  width: 375px;
  height: 281px;
}
.index__recommend-artist {
  margin-top: 38px;
}
.index__recommend-artist__list {
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}
.index__recommend-artist__list li {
  text-align: center;
  margin-right: 32px;
}
.index__recommend-artist__list li img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  border-radius: 50%;
}
.index__popular-event {
  margin-top: 20px;
}
.index__popular-event__list {
  display: flex;
  overflow: hidden;
  margin-top: 16px;
}
.index__popular-event__list li {
  margin-right: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.index__popular-event__list li img {
  width: 144px;
  height: 120px;
  border-radius: 4px 4px 0px 0px;
}
.index__popular-event__list li section {
  height: 118px;
}
.index__promotion-event {
  margin-top: 40px;
}
.index__promotion-event img {
  margin-top: 16px;
  width: 327px;
  height: 120px;
  border-radius: 8px;
}
.index__new-event {
  margin-top: 40px;
}
.index__new-event__list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.index__new-event__list li {
  position: relative;
  margin-bottom: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.index__new-event__list li:last-child {
  margin-bottom: 40px;
}
.index__new-event__list li img {
  width: 120px;
  height: 96px;
  border-radius: 4px 0px 0px 4px;
}
.index__new-event__list li section {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 207px;
  height: 96px;
}

/* search */
.search__option {
  position: fixed;
  top: 80px;
  z-index: 99;
  width: 327px;
  padding: 32px 24px 16px 24px;
  background-color: #ffffff;
}
.search__option__list {
  display: flex;
  justify-content: space-between;
}
.search__option__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 103.67px;
  height: 32px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 4px;
}
.search__option__list li section {
  margin: 0px 12px 0px 8px;
}
.search__result {
  margin-top: 80px;
}
.search__result__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search__result__list li {
  margin-bottom: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.search__result__list li img {
  width: 155.5px;
  height: 120px;
  border-radius: 4px 4px 0px 0px;
}
.search__result__list li section {
  height: 120px;
}

/* event detail*/
.event-detail__main-image img {
  width: 375px;
  height: 280px;
}
.event-detail__title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.event-detail__main-title,
.event-detail__sub-title {
  display: inline-block;
  margin: 0 auto;
}
.event-detail__main-title__event-title {
  margin-top: 10px;
}
.event-detail__sub-title {
  margin-top: 24px;
}
.event-detail__main-title__event-date {
  margin-top: 18px;
}
.event-detail__current-progress {
  margin-top: 25px;
}
.event-detail__current-progress__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.event-detail__current-progress__people-num {
  margin-top: 16px;
}
.event-detail__current-progress__bar {
  height: 3px;
  margin-top: 16px;
  border-radius: 2px;
  background-color: #ec1a2e;
}
.event-detail__event-explain {
  margin-top: 25px;
}
.event-detail__event-explain__desc {
  margin-top: 16px;
  padding: 12px 0;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #e5e5e5;
  list-style: decimal inside;
}
.event-detail__event-desc {
  margin-top: 12px;
}
.event-detail__event-desc img {
  width: 327px;
  margin-top: 16px;
  object-fit: cotain;
}

/* 404 */
.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-404__image {
  width: 316px;
  height: 287px;
  margin: 0 auto;
}
.error-404__title {
  margin-top: 33px;
}
.error-404__title p {
  text-align: center;
}
.error-404__button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
