@import url(reset.css);
@import url(webfonts.css);
@import url(common.css);

/* index */
.index__list-title {
  display: flex;
  justify-content: space-between;
}
.banner {
  margin-top: 32px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.banner__slider {
  display: flex;
  overflow: hidden;
}
.banner__slider li img {
  width: 375px;
  height: 281px;
}
.recommend-artist {
  margin-top: 38px;
}
.recommend-artist__list {
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}
.recommend-artist__list li {
  text-align: center;
  margin-right: 32px;
}
.recommend-artist__list li img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  border-radius: 50%;
}
.popular-event {
  margin-top: 20px;
}
.popular-event__list {
  margin-top: 16px;
}
.promotion-event {
  margin-top: 40px;
}
.promotion-event img {
  margin-top: 16px;
  width: 327px;
  height: 120px;
  border-radius: 8px;
}
.new-event {
  margin-top: 40px;
}
.new-event__list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.new-event__list li {
  position: relative;
  margin-bottom: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.new-event__list li:last-child {
  margin-bottom: 40px;
}
.new-event__list li img {
  width: 120px;
  height: 96px;
  border-radius: 4px 0px 0px 4px;
}
.new-event__list li a section {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 177px;
  height: 72px;
  padding: 12px 15px;
}
.new-event__list li a div {
  display: flex;
  justify-content: space-between;
}
.new-event__title {
  margin-top: 4px;
}

/* search */
.header__search {
  display: flex;
  padding: 3px 0px 3px 16px;
}
.header__search input {
  width: 259px;
  border: none;
}
.header__search input:focus {
  outline: none;
}
.search-recent {
  margin-top: 32px;
}
.search-recent__list {
  margin-top: 16px;
}
.search-recent__list li {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding-bottom: 8px;
  border-bottom: 2px solid #f8f8f8;
}
.search-visit {
  margin-top: 32px;
}
.search-visit__list {
  margin-top: 14px;
}

/* list */
.list-option-wrapper {
  position: fixed;
  top: 80px;
  z-index: 99;
  width: 327px;
  padding: 32px 24px 16px 24px;
  background-color: #ffffff;
}
.list-option {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.list-option li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 103.67px;
  height: 32px;
  padding: 0px 8px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 4px;
}
.content-list-wrapper {
  margin-top: 80px;
}
.content-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-list li {
  margin-bottom: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.content-list li img {
  width: 155.5px;
  height: 120px;
  border-radius: 4px 4px 0px 0px;
}
.content-list li section {
  width: 139.5px;
  position: relative;
  padding: 12px 8px;
}
.event-list li section {
  height: 96px;
}
.place-list li section {
  height: 76px;
}
.content__title {
  margin-top: 8px;
}
.content__subtitle {
  position: absolute;
  bottom: 11px;
}

/* more */
.more section ul {
  margin-top: 30px;
  border-bottom: 2px solid #e5e5e5;
}
.more section ul li {
  margin-bottom: 30px;
}
.more main a h3 {
  margin-left: 25px;
  font-family: 'DM Sans Medium';
  font-weight: 500;
  font-size: 16px;
}
.normal-service {
  margin-top: 40px;
}
.host-service {
  margin-top: 30px;
}
.setting {
  display: block;
  margin-top: 30px;
}
.more main a {
  display: flex;
  align-items: center;
}

/* event detail*/
.event-detail .event__main-image img {
  width: 375px;
  height: 280px;
}
.event-detail .event__head {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.event-detail .event__head div {
  display: inline-block;
  margin: 0 auto;
}
.event-detail .head__star {
  font-family: 'DM Sans Bold';
  font-weight: 700;
}
.event-detail .head__title {
  margin-top: 10px;
}
.event-detail .event__head div:last-child {
  margin-top: 24px;
}
.event-detail .event__head section {
  display: flex;
  max-width: 295px;
}
.event-detail .event__head section span:first-child {
  margin-right: 0.3em;
  white-space: nowrap;
}
.event-detail .event__head section span:last-child {
  flex: 1;
}
.event-detail .head__date {
  margin-top: 10px;
}
.event-detail .event__progress {
  margin-top: 25px;
}
.event-detail .event__progress div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.event-detail .progress__num {
  margin-top: 16px;
}
.event-detail .progress__bar {
  height: 3px;
  margin-top: 16px;
  border-radius: 2px;
  background-color: #ec1a2e;
}
.event-detail .event__explain {
  margin-top: 25px;
}
.event-detail .event__explain ol {
  margin-top: 16px;
  padding: 12px 0;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #e5e5e5;
  list-style: decimal outside;
}
.event-detail .event__explain ol li {
  margin-left: 1em;
}
.event-detail .event__content {
  margin-top: 12px;
}
.event-detail .event__content p {
  font-family: 'DM Sans Medium';
  font-weight: 500;
  text-align: center;
}
.event-detail .event__content img {
  width: 327px;
  margin-top: 16px;
  object-fit: cotain;
}
.event-detail .modal__option {
  padding: 58px 24px 23px;
}
.event-detail .modal__option ul li {
  padding: 14px 0;
  border-bottom: 2px solid #e5e5e5;
}
.event-detail .modal__option ul li:first-child {
  border-top: 2px solid #e5e5e5;
}
.event-detail .modal__option label {
  display: flex;
  cursor: pointer;
}
.event-detail .option__label-wrapper div {
  display: flex;
  align-items: center;
}
.event-detail .option__label-wrapper h3 {
  margin-right: 16px;
}
.event-detail .option__label-wrapper p {
  margin-top: 14px;
  font-size: 16px;
}
.event-detail .option__btn {
  margin-top: 36px;
}

/* event attend */
.attend-info {
  padding: 32px 24px 0 24px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.attend-info > div {
  margin-top: 16px;
  padding: 12px 8px;
}
.attend-info__event {
  display: flex;
}
.event-attend .event__main-image img {
  width: 56px;
  height: 56px;
  margin-right: 12px;
}
.attend-info__event div p {
  margin-top: 4px;
}
.attend-info__option {
  padding: 8px;
  margin-top: 12px;
  background: #f8f8f8;
  border-radius: 4px;
}
.attend-info__option h4 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
}
.attend-info__option p {
  margin-top: 4px;
}
.attend-info__change-option,
.pay-info__select {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 12px 16px;
  border: 0.5px solid #414040;
  box-sizing: border-box;
  border-radius: 4px;
}
.attend-info__change-option {
  margin-top: 12px;
}
.attend-info__change-option h4,
.pay-info__select h4 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
}
.attend-info__cost {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.attend-info__cost span,
.total-info span {
  font-family: 'DM Sans Bold';
  font-weight: 700;
}
.pay-info,
.total-info {
  margin-top: 40px;
}
.pay-info__select {
  margin-top: 16px;
}
.total-info section {
  display: flex;
  justify-content: space-between;
}
.total-info section:first-of-type {
  margin-top: 24px;
}
.total-info section:last-of-type {
  margin-top: 20px;
  margin-bottom: 50px;
}

/* place detail */
.place-detail .place__main-image img {
  width: 375px;
  height: 280px;
}
.place-detail .place__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.place-detail .head__place,
.place-detail .head__tag {
  margin-top: 8px;
  font-family: 'DM Sans Medium';
  font-weight: 500;
  font-size: 10px;
}
.place-detail .head__tag {
  display: flex;
}
.place-detail .place__explain {
  margin-top: 35px;
}
.place-detail .place__explain ol {
  margin-top: 16px;
  padding: 12px 0;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #e5e5e5;
  list-style: decimal outside;
}
.place-detail .place__explain ol li {
  margin-left: 1em;
}
.place-detail .place__location {
  margin-top: 35px;
  margin-bottom: 43px;
}
.place-detail .place__location img {
  width: 327px;
  height: 211px;
  margin-top: 13px;
}
.place-detail .modal__option {
  padding: 38px 24px 23px;
}
.option__calendar {
  height: 343.8px;
  padding: 29.5px 19px 2.2px;
  border-bottom: 2px solid #e5e5e5;
}
.calendar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar__datepicker {
  width: 100%;
  margin-top: 29.5px;
}
.calendar__datepicker tbody {
  margin-top: 7.87px;
}
.calendar__datepicker th,
.calendar__datepicker td {
  table-layout: fixed;
  width: 41.28px;
  height: 41.3px;
  text-align: center;
  vertical-align: middle;
}
.calendar__datepicker td {
  font-family: 'DM Sans Bold';
  font-weight: 700;
}
.calendar__datepicker tr th:first-child,
.calendar__datepicker tr th:nth-child(7),
.calendar__datepicker tr td:first-child,
.calendar__datepicker tr td:nth-child(7) {
  color: #ec1a2e;
}
.calendar__datepicker .date--blocked {
  opacity: 0.3;
  cursor: default;
}
.calendar__datepicker .date--max-blocked {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.calendar__datepicker .date--btn {
  cursor: pointer;
}
.calendar__datepicker .date--selected {
  color: #ffffff !important;
  border-radius: 50%;
  background-color: #ec1a2e;
  cursor: pointer;
}
.calendar__datepicker .date--selected.date--selected1 {
  border-radius: 50% 0 0 50%;
}
.calendar__datepicker .date--selected.date--selected2 {
  border-radius: 0;
}
.calendar__datepicker .date--selected.date--selected3 {
  border-radius: 0 50% 50% 0;
}
.place-detail .option__btn {
  margin-top: 26px;
}

/* place book */
.place-book form {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
.place-book input[type='text'],
.place-book input[type='tel'] {
  margin-top: 24px;
}
.place-book input#date {
  text-align: center;
}
.place-book label[for='tel'] {
  margin-top: 40px;
}
.place-book fieldset {
  margin-top: 38px;
}
.place-book fieldset textarea:first-of-type {
  margin-top: 27px;
}
.place-book fieldset textarea:last-of-type {
  margin-top: 17px;
}
.place-book input[type='button'] {
  margin-top: 45px;
  margin-bottom: 23px;
}

/* my profile */
.personal-info {
  display: flex;
  position: relative;
  margin-top: 32px;
  padding: 16px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.personal-info div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.personal-info div a {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-family: 'DM Sans Bold';
  font-weight: 700;
}
.member-level {
  margin-top: 40px;
}
.member-level section {
  display: flex;
  align-items: center;
  height: 106px;
  margin-top: 12px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}
.member-level section div {
  width: 50%;
  text-align: center;
}
.member-level section div p {
  font-family: 'DM Sans Bold';
  font-weight: 700;
}
.member-level section h3 {
  margin-left: 35px;
}
.activity-history {
  margin-top: 20px;
}
.activity-history li {
  margin-bottom: 27px;
  padding-bottom: 12px;
  border-bottom: 2px solid #bbbbbb;
}
.activity-history li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-history li div h2 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
}

.activity-history li div p {
  margin-top: 4px;
  font-size: 10px;
}

/* activity list */
.activity__list li {
  margin-top: 16px;
  padding: 16px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.activity__list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 2px solid #e4e4e4;
}
.activity__list li::after {
  display: inline-block;
  margin-top: 16px;
  padding: 4px 12px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 10px;
}
.activity__list li a > div {
  display: flex;
}
.activity__list li a img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
.activity__list li a h2 {
  font-family: 'DM Sans Bold';
  font-weight: 700;
}

.activity__list li a p {
  margin-top: 4px;
  font-size: 10px;
}

/* notic */
.notice-list {
  margin-top: 32px;
}
.notice-list li {
  position: relative;
  padding: 16px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
  border-radius: 8px;
}
.notice-list .new-notice::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 0px;
  width: 4px;
  height: 20px;
  background-color: #ec1a2e;
}
.notice-list li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notice-list li div span {
  font-size: 10px;
}
.notice-list li p {
  margin-top: 12px;
}

/* complete */
.complete main {
  display: flex;
  flex-direction: column;
}
.complete__title-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.complete__title-wrapper .title__sub {
  margin-top: 13px;
}
.complete__button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

/* 404 */
.error-404 main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-404__image img {
  width: 316px;
  height: 287px;
  margin: 0 auto;
}
.error-404__title-wrapper {
  margin-top: 33px;
  text-align: center;
}
.error-404__title-wrapper .title__main {
  color: #6d6d6d;
}
.error-404__title-wrapper .title__sub {
  size: 14px;
  color: #a4a4a4;
}
.error-404__btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
