@import url(reset.css);
@import url(webfonts.css);
@import url(common.css);

/* index */
.index__list-title {
  display: flex;
  justify-content: space-between;
}
.banner {
  margin-top: 32px;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.banner__slider {
  display: flex;
  overflow: hidden;
}
.banner__slider li img {
  width: 375px;
  height: 281px;
}
.recommend-artist {
  margin-top: 38px;
}
.recommend-artist__list {
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}
.recommend-artist__list li {
  text-align: center;
  margin-right: 32px;
}
.recommend-artist__list li img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  border-radius: 50%;
}
.popular-event {
  margin-top: 20px;
}
.popular-event__list {
  margin-top: 16px;
}
.promotion-event {
  margin-top: 40px;
}
.promotion-event img {
  margin-top: 16px;
  width: 327px;
  height: 120px;
  border-radius: 8px;
}
.new-event {
  margin-top: 40px;
}
.new-event__list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.new-event__list li {
  position: relative;
  margin-bottom: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.new-event__list li:last-child {
  margin-bottom: 40px;
}
.new-event__list li img {
  width: 120px;
  height: 96px;
  border-radius: 4px 0px 0px 4px;
}
.new-event__list li a > section {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 177px;
  height: 72px;
  padding: 12px 15px;
}
.new-event__wrapper {
  display: flex;
  justify-content: space-between;
}
.new-event__title {
  margin-top: 4px;
}

/* search */
.header__search input {
  width: 295px;
  padding: 3px 0px 3px 16px;
  border: none;
  border-bottom: 2px solid #696969;
  outline-style: none;
}
.search-recent {
  margin-top: 32px;
}
.search-recent__list {
  margin-top: 16px;
}
.search-recent__list li {
  margin-top: 12px;
  padding-bottom: 8px;
  border-bottom: 2px solid #f8f8f8;
}
.search-visit {
  margin-top: 32px;
}
.search-visit__list {
  margin-top: 14px;
}

/* list */
.list-option-wrapper {
  position: fixed;
  top: 80px;
  z-index: 99;
  width: 327px;
  padding: 32px 24px 16px 24px;
  background-color: #ffffff;
}
.list-option {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.list-option li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 103.67px;
  height: 32px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 4px;
}
.list-option li section {
  margin: 0px 12px 0px 8px;
}
.list-wrapper {
  margin-top: 80px;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list li {
  margin-bottom: 16px;
  border: 0.5px solid #e3e3e3;
  box-sizing: content-box;
  box-shadow: 0px 5px 25px -15px rgba(85, 85, 85, 0.25);
  border-radius: 4px;
}
.list li img {
  width: 155.5px;
  height: 120px;
  border-radius: 4px 4px 0px 0px;
}
.list li section {
  width: 139.5px;
  position: relative;
  padding: 12px 8px;
}
.event-list li section {
  height: 96px;
}
.place-list li section {
  height: 76px;
}
.list__title {
  margin-top: 8px;
}
.list__subtitle {
  position: absolute;
  bottom: 11px;
}

/* event detail*/
.event-main-image img {
  width: 375px;
  height: 280px;
}
.event-head-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.event-head__main,
.event-head__sub {
  display: inline-block;
  margin: 0 auto;
}
.event-head__main__artist {
  font-weight: 700;
}
.event-head__main__title {
  margin-top: 10px;
}
.event-head__sub {
  margin-top: 24px;
}
.event-head__sub__date {
  margin-top: 10px;
}
.event-progress {
  margin-top: 25px;
}
.event-progress-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.event-progress__num {
  margin-top: 16px;
}
.event-progress__bar {
  height: 3px;
  margin-top: 16px;
  border-radius: 2px;
  background-color: #ec1a2e;
}
.event-explain {
  margin-top: 25px;
}
.event-explain__desc {
  margin-top: 16px;
  padding: 12px 0;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #e5e5e5;
  list-style: decimal outside;
}
.event-explain__desc li {
  margin-left: 1em;
}
.event-desc {
  margin-top: 12px;
}
.event-desc p {
  font-weight: 500;
  text-align: center;
}
.event-desc img {
  width: 327px;
  margin-top: 16px;
  object-fit: cotain;
}
.event-modal__content {
  padding: 58px 24px 23px;
}
.event-modal__content ul li {
  padding: 14px 0;
  border-top: 2px solid #e5e5e5;
}
.event-modal__content ul li:last-child {
  border-bottom: 2px solid #e5e5e5;
}
.event-modal__content ul li p {
  margin-top: 14px;
  font-size: 16px;
}
.event-modal__btn {
  margin-top: 36px;
}

/* place detail */
.place-main-image img {
  width: 375px;
  height: 280px;
}
.place-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  box-shadow: 0px 5px 30px -20px rgba(85, 85, 85, 0.25);
}
.place-head__place,
.place-head__tag {
  margin-top: 8px;
  font-weight: 500;
  font-size: 10px;
}
.place-head__tag {
  display: flex;
}
.place-explain {
  margin-top: 35px;
}
.place-explain__desc {
  margin-top: 16px;
  padding: 12px 0;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #e5e5e5;
  list-style: decimal outside;
}
.place-explain__desc li {
  margin-left: 1em;
}
.place-location {
  margin-top: 35px;
  margin-bottom: 43px;
}
.place-location img {
  width: 327px;
  height: 211px;
  margin-top: 13px;
}

/* 404 */
.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-404__image {
  width: 316px;
  height: 287px;
  margin: 0 auto;
}
.error-404__title {
  margin-top: 33px;
}
.error-404__title p {
  text-align: center;
}
.error-404__subtitle {
  size: 14px;
}
.error-404__button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
